In [1]:
from lib.dataeng import Etl

In [2]:
etl = Etl()

etl.repo

'/home/benjamin/Downloads/'

In [3]:
df_weight_raw, df_food_raw, df_exos_raw, df_all = etl.extract_store_all()

Le fichier poids le plus récent est : data_BEN_1706332795.zip, parmi :

data_BEN_1706332795.zip
data_BEN_1706083174.zip
data_BEN_1706264904.zip
data_BEN_1705987381.zip
data_BEN_1706158812.zip
Le fichier food le plus récent est : File-Export-2020-08-03-to-2024-01-27.zip, parmi

File-Export-2020-08-03-to-2024-01-27.zip
File-Export-2020-08-03-to-2024-01-26.zip
File-Export-2020-08-03-to-2024-01-24.zip
File-Export-2020-08-03-to-2024-01-25.zip
File-Export-2020-08-03-to-2024-01-23.zip
Le fichier exercices le plus récent est : polar-user-data-export_12baa4ce-79a5-40f8-ad40-74308f7c2c26.zip, parmi :

polar-user-data-export_872b7f7c-c5e0-4b44-b031-f8e8821babae.zip
polar-user-data-export_12baa4ce-79a5-40f8-ad40-74308f7c2c26.zip

100%|██████████| 1828/1828 [01:22<00:00, 22.06it/s]

start date = 2021-03-29

In [4]:
df_weight_raw

,Date,Masse_Totale,Masse_Grasse,Masse_Osseuse,Masse_Musculaire,Masse_Hydrique,MG%,BMR
0,2024-01-27,73.33,12.15,3.06,58.11,41.22,0.165689,1691.488
1,2024-01-27,73.37,12.12,3.06,58.17,41.29,0.165190,1693.000
2,2024-01-27,73.54,12.23,3.07,58.24,41.33,0.166304,1694.296
3,2024-01-27,73.15,11.96,3.06,58.11,41.27,0.163500,1691.704
4,2024-01-27,73.30,12.18,3.06,58.05,41.15,0.166166,1690.192
...,...,...,...,...,...,...,...,...
8914,2020-08-14,104.50,33.85,NaN,NaN,NaN,0.323923,1896.040
8915,2020-08-13,104.40,34.34,NaN,NaN,NaN,0.328927,1883.296
8916,2020-08-12,104.35,33.80,NaN,NaN,NaN,0.323910,1893.880
8917,2020-08-11,104.65,33.15,NaN,NaN,NaN,0.316770,1914.400
8920,2020-08-09,107.25,37.19,NaN,NaN,NaN,0.346760,1883.296

In [5]:
df_food_raw

            Date       Meal  Calories  Lipides  Glucides  Proteines
0     2020-08-03  Breakfast     621.4     27.9      69.7       22.4
1     2020-08-03     Dinner     581.6     20.4      84.5       17.1
2     2020-08-03      Lunch     656.0     41.4      26.6       33.5
3     2020-08-03     Snacks      58.0      0.0      14.0        0.0
4     2020-08-04  Breakfast    1111.6     49.0     137.8       34.3
...          ...        ...       ...      ...       ...        ...
3695  2024-01-25     Dinner     365.6      5.8      49.9       27.4
3696  2024-01-25      Lunch     695.0     16.4      54.7       85.0
3697  2024-01-26  Breakfast     631.0     10.5      61.8       77.3
3698  2024-01-26     Dinner     165.6      2.9      19.2       14.5
3699  2024-01-26      Lunch     982.0     27.4     120.4       72.3

[3700 rows x 6 columns]

In [6]:
df_exos_raw

            exo_duree           exo_type  exo_cals_bruts
exo_date
2021-03-29   3220.826  STRENGTH_TRAINING           328.0
2021-03-30   2818.678            RUNNING           449.0
2021-03-31   3186.236  STRENGTH_TRAINING           272.0
2021-04-01      0.000                  0             0.0
2021-04-02      0.000                  0             0.0
...               ...                ...             ...
2024-01-22   3180.000  STRENGTH_TRAINING           369.0
2024-01-23      0.000                  0             0.0
2024-01-24   3060.000  STRENGTH_TRAINING           433.0
2024-01-25   1320.000      INDOOR_ROWING           187.0
2024-01-26   1920.000      INDOOR_ROWING           264.0

[1294 rows x 3 columns]

In [7]:
df_all

,Masse_Totale,Masse_Grasse,Masse_Osseuse,Masse_Musculaire,Masse_Hydrique,MG%,BMR,Calories,Lipides,Glucides,Proteines,exo_duree,exo_cals_bruts,exo_cals_nets,Depense_cal_totale,cal_deficit
2020-08-09,107.250000,37.190000,NaN,NaN,NaN,0.346760,1883.296,1861.3,71.3,245.0,66.1,0.0,0.0,0.000000,1883.296000,-21.996000
2020-08-11,104.650000,33.150000,NaN,NaN,NaN,0.316770,1914.400,1772.4,50.5,185.8,104.1,0.0,0.0,0.000000,1914.400000,-142.000000
2020-08-12,104.350000,33.800000,NaN,NaN,NaN,0.323910,1893.880,1894.3,59.3,220.3,87.5,0.0,0.0,0.000000,1893.880000,0.420000
2020-08-13,104.400000,34.340000,NaN,NaN,NaN,0.328927,1883.296,1822.6,71.5,227.7,70.2,0.0,0.0,0.000000,1883.296000,-60.696000
2020-08-14,104.500000,33.850000,NaN,NaN,NaN,0.323923,1896.040,1891.5,61.8,217.2,82.5,0.0,0.0,0.000000,1896.040000,-4.540000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-22,72.324167,12.001667,3.015833,57.290000,40.426667,0.165943,1672.966,1714.6,40.0,160.6,179.2,3180.0,369.0,307.425557,1980.391557,-265.791557
2024-01-23,72.640000,12.190833,3.021667,57.413333,40.515000,0.167824,1675.702,1656.9,31.3,159.7,180.5,0.0,0.0,0.000000,1675.702000,-18.802000
2024-01-24,72.864167,12.309167,3.028333,57.512500,40.590833,0.168932,1677.988,1731.9,23.8,191.2,195.0,3060.0,433.0,373.571258,2051.559258,-319.659258
2024-01-25,73.599167,12.578333,3.049167,57.956667,40.979167,0.170902,1688.050,1803.3,37.1,164.0,214.8,1320.0,187.0,161.210347,1849.260347,-45.960347
2024-01-26,73.905833,12.539167,3.069167,58.285833,41.313333,0.169663,1695.520,1778.6,40.8,201.4,164.1,1920.0,264.0,226.321778,1921.841778,-143.241778